    html, body {
        height: 100vh;
        font-family: 'Poppins', sans-serif;
    }
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    }

    .carousel {
    margin-bottom: 4rem;
    }
    .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    }

    .carousel-item {
    height: 38rem;
    /* height: 32rem; */
    }
    .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 38rem;
    /* height: 32rem; */
    }

    .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    }
    .marketing h2 {
    font-weight: 400;
    }
    .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    }

    .featurette-divider {
    margin: 5rem 0; 
    }

    .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    }



    .navbarTitle {
        font-size: 26px;
    }
    .navItem {
        font-size: 18px;
    }

    .sectionTitle {
        font-size: 50px;
        font-weight: 600;
    }

    .countdownCard {
        margin: 24px;
    }
    .countdownCardBody{
        background-color: #f4f9f4;
    }
    .countdownCardHeader {
        background-color: #74b49b;
        border-bottom:0px;
    }

    .cardCircleShadow {
        border: 0px;
        -webkit-box-shadow: 0px 0px 16px 2px rgba(57,62,70,0.38);
        -moz-box-shadow: 0px 0px 16px 2px rgba(57,62,70,0.38);
        box-shadow: 0px 0px 16px 2px rgba(57,62,70,0.38);
    }
    .cardShadow {
        border: 0px;
        -webkit-box-shadow: 4px 6px 16px 0px rgba(57,62,70,0.32);
        -moz-box-shadow: 4px 6px 16px 0px rgba(57,62,70,0.32);
        box-shadow: 4px 6px 16px 0px rgba(57,62,70,0.32);
    }
    .textShadow {
        text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
    }
    .tableHead {
        font-size: 20px;
    }

    .BorderRadius { 
        border-radius: 30px 30px 30px 30px;
    }
    .BorderRadius1 { 
        border-radius: 16px 16px 16px 16px;
    }
    .BorderRadius2 { 
        border-radius: 10px 10px 10px 10px;
    }

    .progressBar {
        margin-left: 10px;
        margin-right: 10px;
    }
    .timespan {
        color: #5c8d89;
        font-size: 50px;
        font-weight: 650;
        margin: 20px;
    }
    .formatWaktu {
        color: white;
    }

    .bg-hijau {
        background-color: #5c8d89;
        color: white;
    }
    .bg-hijau1 {
        background-color: #5c8d89;
        opacity: 0.8;
    }


    .sectionTitleQuran {
        font-size: 40px;
    }
    .ayatArab {
        font-size: 40px;
    }
    .artiAyat {
        font-size: 18px;
    }

    .linkDisabled {
        visibility : hidden;
    }


    .floatingPanel {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .back-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: none;
    }

    .navTextColor {
        color: #f4f9f4;
        opacity: 0.7;
    }
    .navTextSize {
        font-size: 15px;
    }
    .footerLink {
        color: #f4f9f4;
        text-decoration: none;
    }
    .footerLink:hover {
        color: white;
        text-decoration: underline;
    }

    .buttonAdd {
        color: #74b49b;
    }
    .buttonAdd:hover {
        color: #5c8d89;
    }
    .buttonPlusMinus {
        opacity:0.7;
    }
    .buttonPlusMinus:hover {
        opacity:1;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media only screen and (max-width: 500px) {
        .countdownCard {
            margin: 8px;
        }
        .sectionTitle {
            font-size: 35px;
        }
        .timespan {
            margin: 14px;
        }
        .progressBar {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        #quoteBody {
            font-size: 16px;
        }
        #quoteAuthor {
            font-size: 12px;
        }


        .notifQuran {
            font-size: 14px;
        }

        .sectionTitleQuran {
            font-size: 35px;
        }
        .ayatArab {
            font-size: 34px;
        }
        .artiAyat {
            font-size: 14px;
        }

        .navbarTitle {
            font-size: 24px;
        }
        .navItem {
            font-size: 15px;
        }

        .back-to-top {
            bottom: 25px;
            right: 25px;
        }

        .BorderRadius { 
            border-radius: 26px 26px 26px 26px;
        }
        .BorderRadius1 { 
            border-radius: 14px 14px 14px 14px;
        }
        .BorderRadius2 { 
            border-radius: 8px 8px 8px 8px;
        }
    }

    @media (min-width: 40em) {
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .featurette-heading {
            font-size: 50px;
        }

    }

    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }